:root {
  --primary-color: #ab80ad51;
  --secondary-color: #fcf8f3;
  --off-white: #fffdfb;
  --text-color: #2a363b;
}

body {
  background-color: var(--primary-color);
  background-image: radial-gradient(
      #f8e6b9,
      rgba(255, 255, 255, 0.2) 2px,
      transparent 40px
    ),
    radial-gradient(#f8e6b9, rgba(255, 255, 255, 0.15) 1px, transparent 30px),
    radial-gradient(#f8e6b9, rgba(255, 255, 255, 0.1) 2px, transparent 40px),
    radial-gradient(
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0.1) 2px,
      transparent 30px
    );
  background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
  background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;

  font-family: "Mandali", sans-serif;
  color: var(--text-color);
}

h1 {
  color: #ab80ad;
  font-size: 48px;
  margin: 20px 0 30px;
  text-align: center;
}

select {
  border-radius: 4px;
  font-size: 18px;
  margin-bottom: 20px;
  padding: 5px;
  width: 100%;
}

h2 {
  font-size: 32px;
  line-height: 1.5;
  margin: 0;
}

footer {
  color: var(--off-white);
  font-size: 18px;
  margin-bottom: 20px;
  text-align: center;
}

footer a {
  color: var(--off-white);
  text-decoration: none;
}

footer a:hover {
  color: #b35db977;
}

.container {
  background-color: var(--secondary-color);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 80px auto 20px;
  max-width: 650px;
  padding: 20px 20px;
}

.city {
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  padding: 15px 0 20px;
}

.city:last-child {
  border: none;
}

.date {
  opacity: 0.7;
}

.time {
  font-size: 48px;
  font-weight: bold;
  position: relative;
  top: -7px;
}

.time small {
  font-size: 28px;
  position: relative;
  top: -5px;
}

#home-link {
  color: #b35db9d0;
  text-decoration: none;
}

@media (max-width: 768px) {
  h1 {
    font-size: 42px;
  }

  h2 {
    font-size: 22px;
  }

  .container {
    margin: 50px 10px 20px;
  }

  .time {
    font-size: 28px;
  }

  .time small {
    font-size: 18px;
  }
}
